!.keep

# annoying mac artifacts
.DS_Store

# Editor support
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets
.env

# Rust
# Cargo.lock
**/*.rs.bk

# NodeJS
node_modules
yarn*.log
npm*.log
.node_repl_history

# Typescript
.log
*.tsbuildinfo

# Vite
dist

# Eslint
.eslintcache

# Python
.python-version
__pycache__

# direnv
.envrc
.direnv

# app
app-config*.json
*.typegen.ts
